.bg-1{
    background-color: #008782;
    color: white;
}
.bg-2{
    background-color: #006B67;
    color: white;
}
.bg-3{
    background-color: #003331;
    color: white;
}
.bg-4{
    background-color: black;
    color: white;
}